body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.map-container {
  width: 100%;
  height: 500px;
}

.twt-wrapper .card-body {
  max-height:650px;
  overflow:auto;
}

.twt-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.twt-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
  text-align: left;
}
