<body style="background-color: rgb(56, 56, 56);">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgb(29, 29, 29);">
    <a class="navbar-brand" href="#">MashApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
		
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item disabled" href="#" style="color: gray;">Author: Leon George</a>
            <a class="dropdown-item disabled" href="#" style="color: gray;">Matrikelnummer: 5205279</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
	
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12 text-center">
			  <div class="starter-template">
          <h1 style="color: white;">MashApp</h1>
            <p class="lead" style="color: white;">Shows tweet location on a Google Map.</p>
        </div>
      </div>
    </div>

		<!-- Search-Bar -->
    <div class="row">
      <div class="col-md-12 text-center">
			  <div class="active-pink-4 mb-4">
	        <form class="search">
			      <input class="form-control" type="text" name="text" placeholder="Enter Tweet Topic here" aria-label="Search">
			    </form>
			  </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
			  <div class="map-container mb-4">
			    {{> googleMap name="map" options=mapOptions}}
			  </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 text-center">
	      <div class="twt-wrapper">
          <div class="card card-info">
            <div class="card-header" style="background-color: white;">Twitter Feed</div>			
            <div class="card-body">
						  {{#if hasTweets}}
              <ul class="media-list">
                {{#each tweets}}
                  {{> tweet}}
                {{/each}}
				      </ul>
					    {{else}}
					      <p>No Results Yet</p>
					    {{/if}}
            </div>
	        </div>
        </div>
      </div>
    </div>

  </main><!-- main container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>