<template name="tweet">
  <li class="media">
    <div class="media-body">
      <span class="text-muted pull-right">
        <small class="text-muted">{{created_at}}</small>
      </span>
      <strong class="text-success">@{{user.screen_name}}</strong>
      <p>{{full_text}}</p>
    </div>
  </li>
</template>
